# .gitignore

# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pyc

# Env
.env
.env.*
!.env.example

# IDEs
.vscode/
.idea/
start.sh

# Logs
*.log
.venv
htmlcov/
logs

# Volumes
db_data/

# Testes
populate.py
.pytest_cache/

#Pasta De Uploads
Uploads

#Meu Docker Atual 13-02
docker-compose-old.yml

# Specs e documentos internos (não subir para repo público)
docs/superpowers/
.superpowers/