
services:
  db:
    image: mysql:8
    container_name: rsvp_mysql
    restart: always
    env_file: .env
    environment:
      MYSQL_ROOT_PASSWORD: ${DB_PASSWORD}
      MYSQL_DATABASE: ${DB_NAME}
    volumes:
      - db_data:/var/lib/mysql
      - ./backend/init.sql:/docker-entrypoint-initdb.d/init.sql
    ports:
      - "3307:3306"
    healthcheck:
      test: ["CMD-SHELL", "mysqladmin ping -h localhost -p$${MYSQL_ROOT_PASSWORD} --silent"]
      interval: 10s
      timeout: 5s
      retries: 10


  backend:
    build: ./backend
    container_name: rsvp_backend
    restart: always
    env_file: .env
    ports:
      - "3000:8000"
    depends_on:
      db:
        condition: service_healthy
    volumes:
      - ./backend:/app
      - ./logs:/app/logs
    working_dir: /app
    command: >
      gunicorn app:app
      -w 2
      --threads 4
      -k gthread
      -b 0.0.0.0:8000
      --timeout 120
      --graceful-timeout 30
      --keep-alive 5
      --access-logfile -
      --access-logformat '%(t)s | %(p)s | %(m)s %(U)s | status=%(s)s | resp_time=%(L)s sec | size=%(B)s bytes'

volumes:
  db_data:
